<div class="conteiner-fluid conteiner-my">
  <div class="new-project edit-form ">
    <div class="container-fluid common-card">
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <h4>{{selectedMock?.id ? 'Update':'Create'}} mock</h4>
          <hr>
          <div class="row mr-0 ml-0">
            <div class="col-8">
              <mat-form-field class="input-width">
                <input matInput [placeholder]="'name'" formControlName="name" required>
                <mat-error *ngIf="name.hasError('required')">
                  emty field is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row mr-0 ml-0">
            <div class="col-8">
              <mat-form-field class="input-width">
                <textarea rows="6" matInput [placeholder]="'description'" formControlName="description" ></textarea>
              </mat-form-field>
            </div>
          </div>

        </div>
        <hr>
        <div class="form-group">
          <h4>Response</h4>


          <div class="row mr-0 ml-0">
            <div class="col-2">
              <mat-form-field class="input-width">
                <input matInput type="number"  [placeholder]="'Response code'" formControlName="code" required >
                <mat-error *ngIf="code.hasError('required')">
                  emty field is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div  formArrayName="headers" *ngFor="let item of headers.controls; let i = index;" >
            <div class="header" [formGroupName]="i">
              <mat-form-field class="input-width">
                <input matInput [placeholder]="'Header name'" formControlName="name" required>
                <mat-error *ngIf="name.hasError('required')">
                  emty field is required
                </mat-error>
              </mat-form-field>
              <mat-form-field class="input-width">
                <input matInput [placeholder]="'Header value'" formControlName="value" required>
<!--                <mat-error *ngIf="item..hasError('required')">-->
<!--                  emty field is required-->
<!--                </mat-error>-->
              </mat-form-field>
              <button mat-icon-button >
                <mat-icon (click)="deleteHeader(i)">cancel</mat-icon>
              </button>
            </div>
          </div>
          <button class="mt-2"  mat-flat-button color="primary" (click)="addHeader();false">Add header</button>


          <div class="row mr-0 ml-0 mt-2">
            <div class="col-8">
              <mat-form-field class="input-width">
                <textarea rows="6" matInput [placeholder]="'Response body'" formControlName="body" ></textarea>
<!--                <mat-error *ngIf="body.hasError('required')">-->
<!--                  emty field is required-->
<!--                </mat-error>-->
              </mat-form-field>
            </div>
          </div>
        </div>


        <div class="row mr-0 ml-0 justify-content-end">
          <div class="col-4 save-buttons-place">
            <button mat-button (click)="cancel(); false">
              Cancel
            </button>
            <button #submitButton [disabled]="!editForm.valid" type="submit" mat-flat-button color="primary">
              {{selectedMock?.id ? 'Update':'Create'}}
            </button>
          </div>

        </div>

      </form>
    </div>
  </div>
</div>
