<div class="conteiner-fluid app-list">
  <div class="mb-4">
    <button mat-flat-button color="primary"
            (click)="addMock()">
      Add Mock
    </button>
  </div>


  <!--  comment-->
  <div class="card mb-2" *ngFor="let mock of mocks">
    <div  class="card-header ">
      <div class="d-flex flex-row  left-conteiner">
        <div class="accordion-item">
          <h4 class="mb-3" >
            {{mock.name}}
          </h4>
          <h5 class="mb-3" >
            {{mock?.description}}
          </h5>

        </div>
      </div>
      <div class="d-flex my-buttons ">

        <div class="d-flex flex-row right-task-icons">
          <div (click)="editMock(mock)" [matTooltip]="'edit mock'" matTooltipClass="tooltip-custom">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="#000"  fill-rule="nonzero" d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04a.996.996 0 0 0 0-1.41l-2.34-2.34a.996.996 0 0 0-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
            </svg>
          </div>

          <div (click)="removeMock(mock)" [matTooltip]="'delete mock'" matTooltipClass="tooltip-custom">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="#000"  fill-rule="nonzero" d="M7 18c0 1.1.9 2 2 2h6c1.1 0 2-.9 2-2V8H7v10zM18 5h-3l-1-1h-4L9 5H6v2h12V5z"/>
            </svg>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!--  comment end-->
</div>
