$fone-color: #d7eaec;

.my-item-menu .mat-menu-item {
  height: 32px !important;
  line-height: 32px !important;
  color: #1e88e5 !important;
  font-size: .9em;
}
.navbar{
  min-height: 64px;
  background: $fone-color;
  padding-left: 1.5rem;

  .iconMP{
    background: cadetblue;
    border-radius: 50%;
    padding: 12px;
    font-size: 16px;
    font-weight: 700;
  }



  .main-icons-place {
    .btn {
      padding: 0;
      border-radius: 50%;
      outline: none;
      width: 3rem;
      height: 3rem;
      svg {
        vertical-align: top !important;
      }
    }
    .btn:hover {
      background-color: rgba(60,64,67, 0.08) !important;
    }
    .btn:focus {
      outline: none !important;
      box-shadow: none !important;
    }
  }
  button{
    img{
      border-radius: 50%;
    }
  }
}
.fio{
  padding: 0.4em;
}
.border-line{

  height: 1px;
  opacity: 0.2;
  border: solid 0.5px #979797;
  background-color: #d8d8d8;
}
svg{
  fill-opacity: .6;
}
